.layout {
    color: var(--txt-color);
}

.layout__content {
    padding-left: var(--sidebar-width);
    background-color: var(--second-bg);
    min-height: 100vh;
}

.layout__content > div:first-child{
  position: sticky;
  top: 0;
  z-index: 100;
}

.layout__content-main {
    padding: 30px;
}

@media(max-width: 992px){
  .layout__content{
    padding-left: 95px;
  }
}
